<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
<!--    <link rel="stylesheet" media="screen" th:href="@{/css/core.css}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Grene</span>
    </div>
</nav>

<div class="container-fluid bg pt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 style="color: green">Password Generator</h1>
            <p class="lead">Copy generated password to your clipboard, and go finish creating your account.</p>
            <h4>It's that simple!</h4>
            <p style="font-size: 12px; color: lightgray">we do not save nor store any password</p>
        </div>
    </div>
</div>


<div class="container pt-5 passwordContainer">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="" id="button" class="btn btn-lg btn-outline-success">
                <h4>Generate New Password</h4>
            </a>
            <br><br>
            <p th:text="${password}"></p>
        </div>
    </div>
</div>


<style>
    .bg {
        background: gray;
        height: 30vh;
        color: #fff;
    }

</style>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">

</script>

<script>

</script>
</body>
</html>